{% extends '!footer.html' %}
{% block extrafooter %}
<!-- your html code here -->
    <div class="sponsor">
        <p>Sponsored by</p>
        <a target="_blank" href="https://www.marshall.edu/cite/computer-science-program/"><img alt="Marshall University" src="_static/marshall.png"></a>
        <a target="_blank" href="http://www.wvspacegrant.org/"><img alt="NASA West Virginia Space Grant Consortium" src="_static/nasa.png"></a>
    </div>
{% endblock %}